*{
    margin: 0px;
    padding: 0px;
    box-sizing: px;
}

.cxnotifica {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: rgba(255, 135, 81, 0.79);
    font-size: 15px;
    line-height: 2em;
    text-align: center;
    z-index: 1000;
}
.cxnotifica div a{
    display: block;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
body{
    background-color: rgb(180, 0, 96);
}
header{
    width: auto;
    height: 8em;
    background-color:rgb(180, 0, 96);
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
    box-shadow: 0px 0px 6px 0px #000;
}
header .logo{
    
    width: auto;
    min-width: 25%;
    text-align: center;
}
header .logo .fas{
    padding: 6px;
    color:#05ff11;
    font-size: 90px;
}
header .txtlogo{
    line-height: 120px;
    width: auto;
    font-size: 30px;
    color: #f1f5f9;
    font-family: 'Source Code Pro', monospace;
}
header .formlogo{
    padding-top: 50px;
    width: auto;
}
header .formlogo form input{
    height: 2em;
    padding: 2px;
    border:none;
    border-radius:5px;
}
nav{
    width: auto;
    height: 2em;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color:rgb(180, 0, 96);
}
main{
    width: auto;
    height: auto;
    min-height: 15em;
    background-color:rgb(180, 0, 96);
}
article{
    width: 90%;
    height: auto;
    margin: 5px auto;
    padding: 4px;
    background-color:#700135;
}
section{
    width: 90%;
    height: auto;
    margin: 5px auto;
    padding: 4px;
    background-color: #ac1c5f;
}
section#pol{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer{
    width: auto;
    height: 2em;
    margin-top: 2px;
    background-color:rgb(180, 0, 96);
    box-shadow: 0px 0px 6px 0px #000;
}

.cxpol{
    margin: 2px;
}
.ftpol{
    width: 150px;
    text-align: center;
    height: 180px;
    box-shadow: 1px 1px 6px 1px #000;
}
.ftpol img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    filter: grayscale(20);
}
.ftpol img:hover{
    transform: scale(1.1,1.1);
    filter: grayscale(0);
}
.txtpol{
    text-align: center;
    font-weight: bold;
    margin: 4px 1px;
}